/* 버튼 기본 스타일 */
button {
    background-color: #ffaa9d;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button {
    background-color: #f8d7da;
    color: #d57b6e;
}

body {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(236, 236, 236);
}

/* 헤더 */
header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 100%;
    height: 50px;
    height: 5000px;
    border-bottom: rgb(200, 200, 200);
}

#header-left-space {
    flex: 1;
}

.social-links{
    flex: 1;
}

#header-center-space {
    flex: 3;
}

.header-button{
    flex: 1;
}
.header-serchInput{
    flex: 1;
}

#header-left-space {
    flex: 1;
}

.social-links {
    font-size: 1.5em;
}

#header_sidespace {
    flex-direction: column;
    width: 10%;
}

/* 로고 */


/* 메뉴 */
nav{
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: visible;
}
nav div{
    border: 0.5px solid rgb(200, 200, 200);
    margin: 0;
    padding: 0;
}

/* footer부분 */
footer {
    max-width: 100%;
    width: 100%;
}

.footer-service { 
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10%;
    border-top: solid 1px #d1d1d1;
    border-bottom: solid 1px #d1d1d1;
}

.footer-buttons {
    display: flex;
    flex: 3;
    position: relative;
}

.button-gray {
    border: none;
    background-color: white;
    padding: 10px;
    position: relative;
}

.footer-links {
    display: flex;
    white-space: nowrap;
    flex:1;
}

.footer-links a {
    color: #d1d1d1;
    text-decoration: none;
    padding: 10px;
}

.button-gray:hover, .footer-links a:hover {
    color: #9f9f9f;
    cursor: pointer;
}

.button-gray:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 55%;
    width: 1px;
    height: 40%;
    background-color: #9f9f9f;
    transform: translateY(-50%);
}

.footer-information {
    display: flex;
    height: auto;
    background-color: #f5f5f5;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer-information .footer-text {
    display: flex;
    color:#999999;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
}

/* footer부분^ */